# Copy the contents of this file into .env and fill in secure passwords as discussed in class
# WARNING: Never commit .env to your Git repository. It contains your passwords.
# It should be listed in your .gitignore file.

ROOT_PASSWORD=your_secure_root_password_here
STUDENT_PASSWORD=your_secure_student_password_here